body {
    background-color: brown;
    color: white;
}

.page-top {
    text-align: center;
}

/* .cards {
    margin: auto;
    align-content: center;
} */

.top {
    display: flex;
    margin: auto;
    /* background-color: rgb(236, 212, 145); */
    color: black;
    border-radius: 10px;
    max-width: 700px;
    background: linear-gradient(to right, rgb(236, 212, 145), pink);
    /* padding: 10px; */
}

.img-card {
    padding: 7.5px;
    background-color: black;
    max-width: 300px;
    border-radius: 10px;
    margin: 10px;
}

.french {
    border-radius: 10px;
}

.top-caption {
    padding-left: 20px;
}

.leaf {
    object-fit: cover;
}